{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
    <a href="populate-dummy-data/" class="addlink dummy-data-href">
        <i class="fa fa-plus-circle"></i> {% trans 'Populate Dummy Data' %}
    </a>
  </li>
  {% endif %}
{% endblock %}
